#who-are-we {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 80px;
    width: 100%;
}

#donate-work {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    width: 100%;

    .buttons-div {
        display: flex;
        justify-content: space-evenly;
        margin-top: 24px;
        width: 80%;
        align-items: center;
    }

    @media screen and (max-width: 768px) {
        .buttons-div {
            flex-direction: column;

            >* {
                margin: 8px 0;
            }
        }
    }
}

#reviews {
    margin: 40px 0;
    padding: 24px;
    background-color: var(--grey);
    width: 100%;
}

.review-item {
    padding: 24px;
    display: flex;
    align-items: center;
    height: 140px;
    border: 1.5px solid black;
    border-radius: 4px;
    position: relative;

    #right-qoute,
    #left-qoute {
        height: 24px;
        width: 24px;
        position: absolute;
    }

    #right-qoute {
        top: 4px;
        right: 4px;
    }

    #left-qoute {
        bottom: 4px;
        left: 4px;
    }
}

@media screen and (max-width: 768px) {
    #who-are-we {
        padding: 20px;
    }
}