#whatsapp-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;

    #group-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 64px;
    }

    .group-one, .group-two {
        display: flex;
        flex-direction: row;
    }

    .group-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 48px;
        > * {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    #whatsapp-main {
        padding: 20px;

        #group-div {
            padding: 24px;
            flex-direction: row;
            justify-content: space-around;
        }

        .group-item {
            padding: 8px;
        }

        .group-one, .group-two {
            flex-direction: column;
        }

    }
}