#our-team-main {
    width: 100%;
    padding: 40px;

    #members {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .member-item {
            padding: 16px;
            >img {
                width: 280px;
            }

            >* {
                text-align: center;
            }
        }
    }
}